@use "../../custom.scss";

$stat-name-width: 36px;
$stat-raw-value-width: 24px;
$stat-arrow-width: 12px;
$stat-multiroll-width: 48px;
$col-gap-width: 6px;
$stat-block-width: calc($stat-name-width + $stat-raw-value-width 
    + $stat-arrow-width + $stat-multiroll-width + calc($col-gap-width * 6));

//stats
.stats-container {
    display: grid;
    grid-template-rows: auto;
    padding: 5% 3%;
    width: $stat-block-width;
    border: 1px black dotted;
}

//single stat

.stat-row {
    display: grid;
    grid-template-areas: 
    "stat-name stat-raw-value stat-arrow stat-multiroll";
    grid-template-columns: $stat-name-width $stat-raw-value-width $stat-arrow-width $stat-multiroll-width;
    column-gap: $col-gap-width;
    justify-items: center;

    &-name {
        grid-area: stat-name;
        font-family: custom.$Montserrat;
        font-weight: 900;
    }
    &-value {
        grid-area: stat-raw-value;
        font-family: custom.$Sacramento, 'sans';
        font-weight: 600;
    }
    &-arrow {
        grid-area: stat-arrow;
        font-family: custom.$Sacramento, 'sans';
        font-weight: 600;
    }
    &-multiroll {
        grid-area: stat-multiroll;
        font-family: custom.$Sacramento, 'sans';
        font-weight: 600;
    }
}