@import '~bootstrap/scss/bootstrap.scss';
$Montserrat: 'Montserrat';
$Righteous: 'Righteous';
$Sacramento: 'Sacramento';
$Ubuntu: 'Ubuntu';

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.heading {
    font-family: $Righteous, fantasy;
    text-align: center;
}